﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/App_Start/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/App_Start/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title - My ASP.NET Application</title>

</head>
<body>
    @Html.Partial("_MenuSuperior")
    <div class="container">
        <main class="col-sm-8">
            @RenderBody()  
        </main>
        <aside class="col-sm-4">
            <h3>Acesso Rapido</h3>
            <ul>
                <li>@Html.ActionLink("Movimentacoes por usuario", "MovimentacoesByUsuario", "Movimentacao")</li>
                <li>@Html.ActionLink("Busca de movimentacoes", "Busca", "Movimentacao")</li>
            </ul>
        </aside>
    </div>
</body>
</html>