﻿<nav>
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <!-- ActionLink(texto, metodo, classe)-->
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
            <li>@Html.ActionLink("Movimentacao", "Index", "Movimentacao")</li>

            <!-- ou WebSecurity.IsAuthenticated -->
            @if (User.Identity.IsAuthenticated)
            {
                <li>@Html.ActionLink("Sair", "Logout", "Login")</li>
            }
            else
            {
                <li>@Html.ActionLink("Autenticar", "Index", "Login")</li>
            }
        </ul>
    </div>
</nav>
