﻿@model IList<Financeiro.Entidades.Movimentacao>

@Html.ActionLink("Nova movimentação", "Form", "Movimentacao")

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Valor</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var m in Model)
        {
            <tr>
                <td>@m.Id</td>
                <td>@m.Usuario.Nome</td>
                <td>@m.Valor</td>
                <td>@m.Tipo</td>
            </tr>
        }
    </tbody>
</table>