﻿@model Financeiro.Models.MovimentacoesByUsuarioModel

@using (Html.BeginForm("MovimentacoesByUsuario", "Movimentacao", FormMethod.Get))
{
    @Html.LabelFor(m => m.UsuarioId, "Usuário")
    @Html.DropDownListFor(
                            m => m.UsuarioId, 
                            new SelectList(Model.Usuarios, "Id", "Nome"), 
                            "Escolha um usuário"
                          )

    <input type="submit" value="Buscar" />
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Tipo</th>
            <th>Valor</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var m in Model.Movimentacoes)
        {
            <tr>
                <td>@m.Usuario.Nome</td>
                <td>@m.Tipo</td>
                <td>@m.Valor</td>
            </tr>
        }
    </tbody>
</table>